<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time of the day</title>

    <!-- connecting static styling -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'clock_s/css/style.css' %}" type="text/css">

</head>

<body>
    <div class="container">
        <div class="frame">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <p>The current date and time:</p>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto" style="font-size: 25px;">
                    <p>{{ date }}</p>
                    <p>{{ time }}</p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>