<!DOCTYPE html>
<html>

<head>
    <title>Add Book and Review</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
    <h1>Add Book and Review:</h1>

    <!-- {% if messages %}
    {%for message in messages%}
    <h1>{{message}}</h1>
    {%endfor%}
    {%endif%} -->

    <form action="/books/new" method="POST">
        <p>Book Title: <input type="text" name="title"></p>

        <p>Choose from the list:

        <select name="author">
            {%for author in authors%}
            <option value="{{ author.id }}"> {{ author.name }} </option>
            {%endfor%}
        </select>
        </p>

        <p>Or add a new author:</p>
        <p> First Name: <input type="text" name="newAuthorName"></p>
        <!-- <p> Last Name: <input type="text" name="newAuthorLast"></p> -->

        <p>Review:<input type="text" name="review"></p>

        <p>Rating: <input type="number" name="rating"></p>

        {%csrf_token%}
        <input type="submit" value="Add Book">
    </form>
</body>

</html>