<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Book</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>

    <p>Welcome, {{name}} </p>
    <a href="/books/add">Add Book and Review</a>
    <div><a href="/">Logout</a></div>
    

    <h2>Recent Book Reviews:</h2>
    <div class="reviews">
        <div>

            </div>
        </div>

    </div>
    <div class="reviews">

    </div>
</body>

</html>