<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Post a message</h2>
    <div>
        <form action="post_message" method="POST">
            <textarea name="message" id="" cols="50" rows="10"></textarea>
            <p><input type="submit" value="Post a message"></p> 
        </form>
    </div>
    <div>
        {% for comment in message.comments.all %}
        <p>{{comment.comment}}</p>
        {% endfor %}
    </div>
    </body>
</html>